* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header__container-desktop, .header__container-mobile {
  width: 100%;
  height: 128px;
  font-family: "Montserrat", sans-serif;
  background: #282F47;
  clear: both; }

.logo__container {
  float: left; }

.logo__img {
  border-radius: 25px;
  cursor: pointer; }

.desktop__header {
  width: 75%;
  margin: 0 auto;
  padding-right: 20px; }

.nav__container-desktop {
  float: left;
  margin: 75px 0 0 20px;
  font-size: 18px; }
  .nav__container-desktop li {
    display: inline;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    cursor: pointer; }

.header__container-mobile {
  display: none; }

.cta__btn {
  width: 150px;
  height: 45px;
  text-align: center;
  border-radius: 15px;
  padding-top: 14px;
  cursor: pointer; }
  .cta__btn p {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 12px; }

.membership-btn__container, .donate-btn__container {
  float: right;
  padding-left: 20px;
  margin-top: 50px; }

.membership-btn, .upload-btn, .signup-btn {
  background: #FFA800; }

.donate-btn, .card-donate-btn {
  background: #D0232D; }

.card-donate-btn {
  width: 100px;
  height: 35px;
  padding-top: 10px;
  margin-top: 10px; }

.upload-btn {
  margin: 0 auto;
  margin-top: 50px; }

.signup-btn {
  margin: 40px 0; }

.img__container {
  float: right;
  width: 50%;
  overflow: hidden;
  padding: 0 20px; }

.ferry-img {
  width: 100%;
  height: 515px; }

.seafarers-img {
  width: 100%;
  height: 480px; }

.donate-img {
  width: 60%; }
  .donate-img img {
    width: 100%;
    height: 535px; }

.photo__container {
  margin: 0 auto;
  width: 100%; }

.photo-style {
  width: 100%; }

.row > .column {
  padding: 0 8px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.column {
  float: left;
  width: 33.33%;
  margin-top: 12px; }
  .column :hover {
    cursor: pointer; }

.col-thumbnail {
  width: 16.66%;
  padding: 0 2.5px; }

.modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: black; }

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px; }

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

.mySlides {
  display: none; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white; }

img.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

section {
  width: 75%;
  display: block;
  margin: 50px auto;
  font-family: "Montserrat", sans-serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.paragraph__container {
  float: left;
  width: 50%;
  font-size: 14px;
  padding: 0 20px; }
  .paragraph__container p {
    margin-bottom: 20px; }
  .paragraph__container ul {
    list-style-position: inside;
    margin-bottom: 20px;
    list-style-type: circle; }

h1 {
  color: #55AACC;
  text-align: left;
  margin-bottom: 25px;
  font-size: 2rem;
  padding-left: 20px; }

.email-link {
  color: #D0232D; }

.p-style {
  padding-left: 20px;
  font-size: 14px; }

.upload__container {
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 50px; }

.upload__container {
  margin: 50px 0;
  text-align: center; }

.donate-text, .funding__container p {
  padding: 0 20px;
  font-size: 14px; }

.funding__container p {
  margin-bottom: 20px; }
.funding__container hr {
  margin: auto 20px; }

.donate__container {
  margin-top: 20px; }

.membership__table {
  float: left;
  font-size: 1rem;
  width: 100%;
  margin: 20px 0 40px 0; }
  .membership__table th {
    text-align: left;
    padding: 20px 0; }
  .membership__table td {
    padding: 10px 0; }

.members {
  color: #55AACC; }

footer {
  width: 100%;
  height: 290px;
  background: #282F47;
  font-family: "Montserrat", sans-serif;
  color: white; }

.footer__container {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0; }
  .footer__container a {
    color: #55AACC; }

.footer-heading {
  margin-bottom: 20px;
  font-weight: 500;
  font-weight: 600; }

.contact__container {
  float: left;
  width: 50%;
  padding-left: 20px;
  font-size: 14px; }

.footer-row {
  display: flex; }

.col {
  width: 25%;
  padding: 10px 10px 10px 0; }

.links__container {
  float: left;
  width: 50%;
  padding: 0 20px;
  font-size: 14px; }
  .links__container a p {
    padding: 10px 0; }

.donate__tabs {
  width: 40%;
  float: left;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  background: #55AACC; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none;
  background: #FFA800 !important; }

.ui-widget {
  font-family: "Montserrat", sans-serif; }

.ui-widget-header {
  background: #eee;
  border: none !important; }

#tabs-1, #tabs-2, #tabs-3 {
  height: 485px; }

#tabs-2 li, #tabs-3 li {
  list-style-type: none;
  padding-bottom: 10px; }
#tabs-2 p, #tabs-3 p {
  padding-bottom: 5px; }
#tabs-2 a, #tabs-3 a {
  color: #55AACC; }

.long-input {
  width: 50%;
  height: 30px;
  margin-top: 10px; }

.expiry-cvc_containers {
  width: 50%; }

.expiry__container {
  float: left;
  width: 50%; }

.cvc__container {
  float: right;
  width: 50%; }

#expiry1 {
  width: 30%;
  height: 30px;
  margin-top: 10px;
  padding-right: 10px; }

#expiry2, #cvc {
  width: 40%;
  height: 30px;
  margin-top: 10px; }

@media only screen and (max-width: 1710px) {
  .paragraph__container, .contact__container, .links__container, .p-style, .donate__tabs, .funding__container p {
    font-size: 13px; }

  .ferry-img {
    height: 460px; }

  .seafarers-img {
    width: 100%;
    height: 480px; }

  section, .footer__container, .desktop__header {
    width: 85%; }

  h1 {
    font-size: 1.8em; } }
@media only screen and (max-width: 1410px) {
  .paragraph__container, .contact__container, .links__container, .p-style, .donate__tabs .funding__container p {
    font-size: 12px; }

  section, .footer__container, .desktop__header {
    width: 95%; }

  h1 {
    font-size: 1.7em; }

  .home-img {
    height: 480px; }

  .long-input {
    width: 75%; } }
@media only screen and (max-width: 1150px) {
  section {
    margin-top: 30px; }

  .paragraph__container {
    width: 100%; }

  .paragraph__container, .p-style, .donate__tabs .funding__container p {
    font-size: 14px; }

  .membership__table tr {
    width: 40%; }

  .membership-text {
    width: 100%; }

  h1 {
    font-size: 2rem; }

  .img__container {
    float: left;
    width: 100%;
    height: auto; }

  .home-img img {
    width: 100%; }

  .ferry-img {
    margin-bottom: 20px; }

  .seafarers-img {
    height: auto; }

  .donate__tabs {
    width: 100%;
    padding-right: 20px;
    margin-bottom: 20px; }

  .donate-img {
    width: 100%; }
    .donate-img img {
      height: auto; } }
@media only screen and (max-width: 920px) {
  section {
    font-size: 12px; }

  .header__container-desktop {
    display: none; }

  .header__container-mobile {
    display: block; }

  .logo__container {
    width: 100%; }

  .logo__sub-container {
    width: 196px;
    margin: 0 auto; }

  .nav__container-mobile {
    float: right;
    display: none;
    position: absolute;
    top: 128px;
    right: 0;
    width: 25%;
    background: #282F47; }
    .nav__container-mobile li {
      display: block;
      padding: 10px;
      font-size: 15px;
      text-decoration: none;
      color: white;
      cursor: pointer; }

  .mobile-nav li a {
    text-decoration: none;
    color: white; }

  .membership-btn__container, .donate-btn__container {
    margin-top: 5px;
    padding: 10px 0;
    float: left; }

  .membership-btn, .donate-btn {
    width: 110%;
    height: 40px;
    border-radius: 5px;
    padding-top: 11px;
    margin-left: 10px;
    text-align: center;
    margin-right: 10px; }
    .membership-btn p, .donate-btn p {
      font-size: 14px; }

  .donate-btn {
    margin-bottom: 15px; }

  .fas {
    color: white;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 20px; }

  hr {
    margin: 10px; }

  .p-style {
    padding-right: 20px; }

  .ferry-img {
    height: auto;
    margin-bottom: 20px; }

  .column {
    width: 50%;
    float: left; }

  .demo {
    height: 260.984px; }

  .hover-shadow {
    height: 273.078px; }

  .donate-img {
    height: auto; }

  .long-input {
    width: 60%; }

  .contact__container, .links__container {
    font-size: 12px; } }
@media only screen and (max-width: 650px) {
  .nav__container-mobile {
    width: 33.33%; }
    .nav__container-mobile li {
      font-size: 14px; }

  .paragraph__container, .contact__container, .links__container, .p-style, .donate__tabs .funding__container p {
    font-size: 12px; }

  h1 {
    font-size: 1.5rem; }

  .home-img {
    width: 100%;
    height: auto; }

  .column {
    width: 100%; }

  .col-thumbnail {
    width: 50%; }

  .demo {
    height: 170px; }

  .hover-shadow {
    height: auto; }

  .upload__text {
    font-size: 14px; }

  .membership__table {
    font-size: 0.7rem;
    margin: 10px 0; }

  .membership-text p {
    margin-bottom: 0; }

  footer {
    height: 500px; }

  .contact__container, .links__container {
    width: 100%; }

  .contact__container {
    margin-bottom: 40px; } }

/*# sourceMappingURL=style.css.map */
