@media only screen and (max-width: 1710px) {
  .paragraph__container, .contact__container, .links__container, .p-style, .donate__tabs, .funding__container p {
    font-size: 13px;
  }

  .ferry-img {
    height: 460px;
  }

  .seafarers-img {
    @include dimensions (100%,480px);
  }

  section, .footer__container, .desktop__header {
    width: 85%;
  }

  h1 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 1410px) {
  .paragraph__container, .contact__container, .links__container, .p-style, .donate__tabs .funding__container p {
    font-size: 12px;
  }

  section, .footer__container, .desktop__header {
    width: 95%;
  }

  h1 {
    font-size: 1.7em;
  }

  .home-img {
    height: 480px;
  }

// DONATE
  .long-input {
    width: 75%;
  }
}

@media only screen and (max-width: 1150px) {

  section {
    margin-top: 30px;
  }

  .paragraph__container {
    width: 100%;
  }

  .paragraph__container, .p-style, .donate__tabs .funding__container p {
    font-size: 14px;
  }

  .membership__table tr {
    width: 40%;
  }

  .membership-text {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  .img__container {
    float: left;
    @include dimensions (100%,auto);
  }

  .home-img img {
    width: 100%;
  }

  .ferry-img {
    margin-bottom: 20px;
  }

  .seafarers-img {
    height: auto;
  }

  .donate__tabs {
    width: 100%;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .donate-img {
    width: 100%;
    img {
      height: auto;
    }
  }
}
