// HEADER
.header__container-desktop, .header__container-mobile {
  width: 100%;
  height: 128px;
  font-family: $primary-font;
  background: $primary-color;
  clear: both;
}

// LOGO
.logo__container {
  float: left;
}

.logo__img {
  border-radius: 25px;
  cursor: pointer;
}

// DESKTOP HEADER
.desktop__header {
  width: 75%;
  margin: 0 auto;
  padding-right: 20px;
}

// NAV DESKTOP
.nav__container-desktop {
  float: left;
  margin: 75px 0 0 20px;
  font-size: 18px;
  li {
    display: inline;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

// DESKTOP NAV
.desktop-nav {
}

// MOBILE HEADER
.header__container-mobile {
  display: none;
}
