// COLOR PALETTE
$primary-color: #282F47;
$secondary-color: #55AACC;
$btn-color: #FFA800;
$link-color: #D0232D;

// FONTS
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
