@import 'variables';
@import 'mixins';
@import 'reset';
@import 'nav';
@import 'buttons';
@import 'images';
@import 'paragraph';
@import 'table';
@import 'footer';

section {
  width: 75%;
  display: block;
  margin: 50px auto;
  clear: both;
  font-family: $primary-font;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
